@model IEnumerable<InquiryVm>

@{
    ViewData["Title"] = "Inquiries";
}

<div><h1>Zapytania</h1></div>

<div class="container">
    <div class="row">
        <div class="col">

            <form asp-action="Index" method="get">
                <label for="startLocationFilter">Filtruj lokalizację początkową:</label>
                <input type="text" name="startLocationFilter" value="@ViewBag.StartLocationFilter" />

                <label for="endLocationFilter">Filtruj lokalizację docelową:</label>
                <input type="text" name="endLocationFilter" value="@ViewBag.EndLocationFilter" />

                <button type="submit">Zastosuj filtry</button>
            </form>

            <table class="table">
                <tbody>
                    @foreach (var inquiry in Model)
                    {
                        @await Html.PartialAsync("_InquiryPartial", inquiry)
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>