@model DeliveriesModel
@{
    ViewData["Title"] = "Index";
}

<h1>Deliveries</h1>

@foreach (Delivery delivery in (await Model.GetDeliveries()))
{
    <div>
        <ul>
            <li>Name:   @delivery.Name</li>
            <li>Status: @delivery.Status</li>
        </ul>
    </div>
    <br />
}
