@model IEnumerable<DeliveryModel>
@{
    ViewData["Title"] = "Dostawy";
}

<h1>Dostawy</h1>
<h2>Lista twoich dostaw:</h2>

@foreach (DeliveryModel delivery in Model)
{
    @await Component.InvokeAsync("DeliveryCard", delivery)
    <br />
}
