@model IEnumerable<DeliveryVm>
@{
    ViewData["Title"] = "Dostawy";
}

<h1>Dostawy</h1>
<h2>Lista twoich dostaw:</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Dostawa</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DeliveryVm delivery in Model)
            {
                @await Html.PartialAsync("_DeliveryPartial", delivery)
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.pickup-btn').click(function () {
                var deliveryModel = JSON.stringify($(this).data('model'));

                // Perform an AJAX call to the AcceptInquiry action
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: '@Url.Action("PickUpDelivery", "Deliveries")', // Generate the URL for the AcceptInquiry action
                    method: 'POST', // Change method if needed (POST/GET)
                    data: deliveryModel,
                    dataType: 'text',
                    success: function (response) {
                        // Handle success response
                        // You can add further actions here after successful acceptance
                        window.location.reload();
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error picking up delivery:', error);
                    }
                });
            });

            $('.delivered-btn').click(function () {
                var deliveryModel = JSON.stringify($(this).data('model'));

                // Perform an AJAX call to the AcceptInquiry action
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: '@Url.Action("DeliverDelivery", "Deliveries")', // Generate the URL for the AcceptInquiry action
                    method: 'POST', // Change method if needed (POST/GET)
                    data: deliveryModel,
                    dataType: 'text',
                    success: function (response) {
                        // Handle success response
                        // You can add further actions here after successful acceptance
                        window.location.reload();
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error picking up delivery:', error);
                    }
                });
            });

            $('.cancel-btn').click(function () {
                var deliveryModel = JSON.stringify($(this).data('model'));

                // Perform an AJAX call to the AcceptInquiry action
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: '@Url.Action("CancelDelivery", "Deliveries")', // Generate the URL for the AcceptInquiry action
                    method: 'POST', // Change method if needed (POST/GET)
                    data: deliveryModel,
                    dataType: 'text',
                    success: function (response) {
                        // Handle success response
                        // You can add further actions here after successful acceptance
                        window.location.reload();
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error picking up delivery:', error);
                    }
                });
            });
        });
    </script>
}

