@model int
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Our website was visited by @Model users!</h1>
    <p>Welcome to Courier Hub, your one-stop destination for all your delivery needs. Our platform connects you with multiple courier services,
        ensuring you find the best deals and options for your shipments.</p>

    <h2>Why Choose Courier Hub?</h2>
    
    <p><b>Simplify Your Deliveries:</b> We make sending and receiving packages easier than ever before.</p>
    <p>
        <b>Unbeatable Deals:</b> Get competitive prices and delivery options from various courier companies.
    </p>
    <p>
        <b>Track Your Shipments:</b> Stay in control with real-time tracking and status updates.
    </p>
    <p><b>User-Friendly Interface:</b> Our platform is designed for seamless navigation and efficiency.</p>
    <h3>Join Our Growing Community</h3>
</div>
