@model CourierCastingApp.ViewModels.InquiryResultVm
@{
	ViewData["Title"] = "Delivery Parcel";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/deliverForm.css" />
}

<div><h1>deliver parcel</h1></div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@await Html.PartialAsync("_PartialDeliverForm")

@section Scripts {
	<script src="~/js/deliverForm.js"></script>
}
