@model InquiryVm

<tr>
    <td>@Html.DisplayFor(m => m.Name)</td>
    <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsInquiry-@Model.Id">
            Detale
        </button>
        @await Html.PartialAsync("_DetailsInquiryPartial", Model)

        <button type="button" class="btn btn-primary accept-btn" data-model="@Model.Data()">
            Accept
        </button>

        <button type="button" class="btn btn-primary reject-btn" data-model="@Model.Data()">
            Reject
        </button>
    </td>
</tr>

