@model IEnumerable<InquiryVm>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nowa Oferta</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (InquiryVm inquiry in Model)
            {
                if (inquiry.InquiryStatus == 0) @await Html.PartialAsync("_InquiryPartial", inquiry)
            }
        </tbody>
    </table>
</div>
