@model (ICollection<InquiryVm> Inquiries, ICollection<DeliveryVm> Deliveries)

@{
    ViewData["Title"] = "Oferty";
}

<div><h1>Oferty</h1></div>


<div class="container">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("_NewOffersPartial", Model.Inquiries)
        </div>
        <div class="col">
            @await Html.PartialAsync("_InProgressOffersPartial", Model.Deliveries)
        </div>
        <div class="col">
            @await Html.PartialAsync("_CompletedOffersPartial", Model.Deliveries)
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.accept-btn').click(function () {
                var inquiryModel = JSON.stringify($(this).data('model'));

                // Perform an AJAX call to the AcceptInquiry action
                $.ajax({
                    url: '@Url.Action("AcceptInquiry", "OfferRequests")', // Generate the URL for the AcceptInquiry action
                    method: 'POST', // Change method if needed (POST/GET)
                    data: inquiryModel,
                    success: function (response) {
                        // Handle success response
                        console.log('Inquiry accepted:', response);
                        // You can add further actions here after successful acceptance
                    },
                    error: function (error) {
                        // Handle error response
                        console.error('Error accepting inquiry:', error);
                    }
                });
            });
        });
    </script>
}