@model IEnumerable<NavBarViewModel>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CourierCastingApp</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            @if (Model != null)
            {
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="@item.ControllerName" asp-action="Index">@item.Text</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</nav>
